[submodule "c-cpp"]
	path = c-cpp
	url = https://github.com/cmasfo/c-cpp
[submodule "hello"]
	path = hello
	url = https://github.com/cmasfo/hello
[submodule "lang"]
	path = lang
	url = https://github.com/cmasfo/lang
[submodule ".github/archive"]
	path = .github/archive
	url = https://github.com/cmasfo/archive
[submodule ".github/profile"]
	path = .github/profile
	url = https://github.com/cmasfo/cmasfo
