[submodule "0_cmasfo-dev"]
	path = 0_cmasfo-dev
	url = https://github.com/cmasfo/cmasfo-dev
[submodule "1_cmasfo-ssg"]
	path = 1_cmasfo-ssg
	url = https://github.com/cmasfo/cmasfo-ssg
[submodule "2_cmasfo-cms"]
	path = 2_cmasfo-cms
	url = https://github.com/cmasfo/cmasfo-cms
[submodule "3_cmasfo-web"]
	path = 3_cmasfo-web
	url = https://github.com/cmasfo/cmasfo-web
[submodule "4_cmasfo-app"]
	path = 4_cmasfo-app
	url = https://github.com/cmasfo/cmasfo-app
[submodule ".github/profile"]
	path = .github/profile
	url = https://github.com/cmasfo/cmasfo
[submodule "korean"]
	path = korean
	url = https://github.com/cmasfo/korean
[submodule "c-cpp"]
	path = c-cpp
	url = https://github.com/cmasfo/c-cpp
[submodule "rust"]
	path = rust
	url = https://github.com/cmasfo/rust
[submodule "dev"]
	path = dev
	url = https://github.com/cmasfo/dev
[submodule "science"]
	path = science
	url = https://github.com/cmasfo/science
[submodule "computer"]
	path = computer
	url = https://github.com/cmasfo/computer
[submodule "data"]
	path = data
	url = https://github.com/cmasfo/data
[submodule "os"]
	path = os
	url = https://github.com/cmasfo/os
[submodule "sql"]
	path = sql
	url = https://github.com/cmasfo/sql
[submodule "db"]
	path = db
	url = https://github.com/cmasfo/db
[submodule "gui"]
	path = gui
	url = https://github.com/cmasfo/gui
[submodule "cli"]
	path = cli
	url = https://github.com/cmasfo/cli
[submodule "lang"]
	path = lang
	url = https://github.com/cmasfo/lang
[submodule "bin"]
	path = bin
	url = https://github.com/cmasfo/bin
[submodule "ai"]
	path = ai
	url = https://github.com/cmasfo/ai
[submodule "code"]
	path = code
	url = https://github.com/cmasfo/code
[submodule "docs"]
	path = docs
	url = https://github.com/cmasfo/docs
[submodule "server"]
	path = server
	url = https://github.com/cmasfo/server
[submodule "linux"]
	path = linux
	url = https://github.com/cmasfo/linux
[submodule "windows"]
	path = windows
	url = https://github.com/cmasfo/windows
