[submodule "c-cpp"]
	path = c-cpp
	url = https://github.com/cmasfo/c-cpp
[submodule "hello"]
	path = hello
	url = https://github.com/cmasfo/hello
[submodule "lang"]
	path = lang
	url = https://github.com/cmasfo/lang
[submodule ".github/archive"]
	path = .github/archive
	url = https://github.com/cmasfo/archive
[submodule ".github/profile"]
	path = .github/profile
	url = https://github.com/cmasfo/cmasfo
[submodule "rust"]
	path = rust
	url = https://github.com/cmasfo/rust
[submodule "0_dev"]
	path = 0_dev
	url = https://github.com/cmasfo/cmasfo-dev
[submodule "1_net"]
	path = 1_net
	url = https://github.com/cmasfo/cmasfo-net
[submodule "2_org"]
	path = 2_org
	url = https://github.com/cmasfo/cmasfo-org
[submodule "3_com"]
	path = 3_com
	url = https://github.com/cmasfo/cmasfo-com
[submodule "4_app"]
	path = 4_app
	url = https://github.com/cmasfo/cmasfo-app
[submodule "dsa"]
	path = dsa
	url = https://github.com/cmasfo/dsa
